<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ConfigFile" value="C:\Users\duoc0\OneDrive\Desktop\WEB_QLBH\QuanLyBanHang\SalesManagementSystem\SalesManagementSystem\App_Config\system.dat" />
		<add key="KeyPart1" value="VanDuoc@123123!" />
	</appSettings>
</configuration>
